<!-- ======= Contact Section ======= -->
<section id="contacto" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Ponte en contacto con nosotros</h2>
        <p>
          ¿Busca asesoramiento personalizado?, ¿Necesita ayuda en su proyecto?
          <br>Póngase en contacto con nosotros
        </p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicación:</h4>
              <p>General Bulnes 368 Oficina 802, Temuco</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{ site.email }}</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Teléfono:</h4>
              <p>+56 9 9395 6304</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="https://forms.un-static.com/forms/abb5565d335ae37296616922bb01c05b77ebf162" method="POST" role="form" class="php-email-form" data-aos="fade-left">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="Nombre" class="form-control" id="name" placeholder="Su Nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="Email" id="email" placeholder="Su Correo" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="Mensaje" rows="8" placeholder="Ingresa tu mensaje." required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Su mensaje ha sido enviado, estaremos en contacto a la brevedad.</div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
            <div class="text-center">
            </div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->