  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        
        <a href="index.html"><h1>iO-Labs</h1></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/#monitoreo">Monitoreo Avanzado</a></li>
          <li><a class="nav-link scrollto" href="/add-services.html">Servicios Adicionales</a></li>
          <li><a class="nav-link scrollto" href="/about.html">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="/contact.html">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->