  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        
        <a href="index.html"><h1>iO-Labs</h1></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/#nosotros">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="/#monitoreo">Monitoreo</a></li>
          <li><a class="nav-link scrollto" href="/#IoT">IoT</a></li>
          <li><a class="nav-link scrollto" href="/#robotica">Robótica</a></li>
          <li><a class="nav-link scrollto" href="/#prototipado">Prototipado</a></li>
          <li><a class="nav-link scrollto" href="/#eligenos"><strong>IO-Labs</strong></a></li>
          <li><a class="nav-link scrollto" href="/#contacto">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->