<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <!-- Video de fondo -->
        <video autoplay muted loop id="heroVideo">
            <source src="/assets/video/background.mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
        </video>

        <a href="index.html" class="hero-logo" data-aos="zoom-in">
            <img src="assets/img/logo.jpg" alt="" width="25%" style="border-radius: 10px;">
        </a>
        <h1 data-aos="zoom-in">iO-Labs</h1>
        <h2 data-aos="fade-up">
            <strong>Capturamos</strong> el futuro, <strong>Monitoreamos</strong> el progreso<br /> 
            Tecnología avanzada para un mundo en constante cambio.
        </h2>
        <a data-aos="fade-up" data-aos-delay="200" href="#monitoreo" class="btn-get-started scrollto">Saber más</a>
    </div>
</section>
<!-- End Hero -->