<!-- ======= Hero Section ======= -->
<section id="hero">
<div class="hero-container">
    <a href="index.html" class="hero-logo" data-aos="zoom-in">
    <img src="assets/img/logo.jpg" alt="" width="25%" style="border-radius: 10px;">
    </a>
    <h1 data-aos="zoom-in">iO-Labs</h1>
    <h2 data-aos="fade-up">
    <strong>Capturamos</strong> el futuro, <strong>Monitoreamos</strong> el progreso<br /> 
    Tecnología avanzada para un mundo en constante cambio.
    </h2>
    <a data-aos="fade-up" data-aos-delay="200" href="#nosotros" class="btn-get-started scrollto">Ingresar</a>
</div>
</section>
<!-- End Hero -->