<!-- ======= IoT Section ======= -->
<section id="IoT" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Internet de las cosas</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <p>En <a href="https://www.io-labs.cl">iO-Labs</a>, nos especializamos en la recolección avanzada de datos a través de nuestro hardware de IoT de última generación.</p>
          <p>Nuestra tecnología permite una captura precisa y eficiente de datos en tiempo real, utilizando dispositivos y sensores conectados mediante protocolos estándares como MQTT, CoAP y HTTP. Nos enfocamos en proporcionar soluciones robustas y confiables para la recolección de datos telemétricos, esenciales para una gestión eficaz de operaciones y toma de decisiones informadas.</p>
          <p>Nuestro hardware está diseñado para ser adaptable a una amplia gama de entornos industriales y comerciales, garantizando la recopilación de datos de alta calidad en diversos contextos.</p>
          <p>Con <a href="https://www.io-labs.cl">iO-Labs</a>, los clientes obtienen no solo equipos avanzados sino también el soporte necesario para integrar esta tecnología de manera efectiva en sus sistemas existentes, permitiendo así maximizar el valor de sus datos y mejorar sustancialmente sus procesos operativos y estratégicos.</p>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/iot.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section>
  <!-- End IoT Section -->