  <!-- ======= Monitoreo Section ======= -->
  <section id="monitoreo" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Plataforma Avanzada de monitoreo.</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <p>En <a href="https://www.io-labs.cl">iO-Labs</a> ofrecemos una competa plataforma de Internet de las Cosas (IoT) que permite la integración de datos, 
            procesamiento de dispositivos y visualización en tiempo real.</p>
            <p>Esta enfocada en proporcionar herramientas para la gestión eficiente de dispositivos, recolección de datos, y visualización de telemetría.</p>
            <p>Nuestro servicio de monitoreo se distingue por su enfoque en la personalización, la facilidad de uso y su compromiso con la entrega de soluciones de 
              monitoreo de alta calidad que permiten a nuestros clientes mejorar la eficiencia operativa y tomar decisiones estratégicas informadas.</p>
        </div>
        <div class="image-alt col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/monitoreo.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section><!-- End Monitoreo Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Características Destacadas</h2>
        <p>Descubre por que nuestro sistema de monitoreo es la mejor opción del mercado</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
            <i class="bx bx-receipt"></i>
            <h4>Conectividad de Dispositivos y Gestión de Datos:</h4>
            <p>Permite la conexión de una amplia gama de dispositivos IoT y la gestión eficiente de los datos que generan. Esto incluye soporte para múltiples 
              protocolos de comunicación estandar de mercado (MQTT, CoAP y HTTP) y opciones de configuración flexibles.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-cube-alt"></i>
            <h4>Procesamiento y Análisis de Datos en Tiempo Real:</h4>
            <p>Ofrece capacidades avanzadas para procesar y analizar datos en tiempo real, lo que facilita la toma de decisiones basada en la información 
              más actualizada.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-images"></i>
            <h4>Visualización y Panel de Control Personalizable:</h4>
            <p>Proporciona una plataforma intuitiva para crear paneles de control personalizados, lo que permite a los usuarios visualizar y monitorear los 
              datos de sus dispositivos de manera eficiente.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-bell"></i>
            <h4>Alertas y Notificaciones Automáticas:</h4>
            <p>Sistema de alertas configurables que notifican a los usuarios sobre eventos críticos o cambios en los parámetros de los dispositivos, 
              lo que permite una respuesta rápida y efectiva.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-phone-incoming"></i>
            <h4>Soporte y Asesoramiento Técnico:</h4>
            <p>Un equipo de expertos disponible para proporcionar soporte técnico y asesoramiento, garantizando que los clientes aprovechen al máximo las 
              capacidades de la plataforma.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-briefcase"></i>
            <h4>Soluciones Personalizadas para Diferentes Sectores:</h4>
            <p>Adaptabilidad del servicio para satisfacer las necesidades específicas de diferentes sectores, como manufactura, logística, agricultura, entre otros.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="600">
            <i class="bx bx-shield-quarter"></i>
            <h4>Escalabilidad y Seguridad:</h4>
            <p>El sistema está diseñado para ser escalable y seguro, lo que lo hace adecuado para empresas de todos los tamaños y garantiza la protección de los datos.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="700">
            <i class="bx bx-intersect"></i>
            <h4>Integración y Extensibilidad:</h4>
            <p>El sistema puede integrarse fácilmente con otras herramientas y plataformas, permitiendo una extensibilidad y personalización significativas.</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/iot.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>
  </div>
</section><!-- End Services Section -->