  <!-- ======= Prototipado Section ======= -->
  <section id="prototipado" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Prototipado e Impresión 3d</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <p>En <a href="https://www.io-labs.cl">iO-Labs</a>, ofrecemos servicios de prototipado e impresión 3D de alta calidad y personalizados para convertir ideas en realidad.</p>
          <p>Nuestra tecnología de vanguardia en impresión 3D nos permite crear prototipos funcionales y modelos precisos que aceleran el proceso de diseño y desarrollo de productos. </p>
          <p>Colaboramos estrechamente con nuestros clientes para comprender sus necesidades y especificaciones, permitiéndonos entregar prototipos a medida que se ajusten a sus requerimientos exactos.</p>
          <p>Nuestra gama de materiales y técnicas de impresión 3D ofrece flexibilidad en la creación de prototipos de componentes y productos diversos.</p>
          <p>Desde piezas mecánicas hasta diseños complejos, nuestra capacidad de impresión 3D permite una rápida iteración y pruebas, lo que resulta en una reducción significativa en los costos y tiempos de desarrollo.</p>
          <p>Además, proporcionamos servicios de consultoría y asesoramiento en todo el proceso de prototipado e impresión 3D, ayudando a nuestros clientes a tomar decisiones informadas y lograr resultados excepcionales en sus proyectos de desarrollo de productos. </p>
          <p>En <a href="https://www.io-labs.cl">iO-Labs</a>, estamos comprometidos en ser su socio confiable en la transformación de ideas en soluciones tangibles y exitosas.</p>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/prototipado.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>
    </div>
  </section>
  <!-- End Prototipado Section -->