  <!-- ======= Why Us Section ======= -->
  <section id="eligenos" class="why-us">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content" data-aos="fade-up">
            <h3>¿Por que trabajar con nosotros?</h3>
            <p>Ofrecemos varias ventajas clave que hacen que trabajar con nosotros sea una elección sobresaliente:</p>
          </div>

          <div class="accordion-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">
                  <span>01</span>
                  Monitoreo Avanzado 
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>Ofrecemos soluciones de monitoreo de vanguardia que permiten el seguimiento en tiempo real de líneas de producción y maquinaria. Esto proporciona información crítica para la toma de decisiones y mejora la eficiencia operativa.</p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">
                  <span>02</span> 
                  IoT de Vanguardia 
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>Somos creadores de tecnología IoT, lo que significa que sus soluciones de conectividad, captura y análisis de datos son de primera clase. Esto permite a las empresas tomar decisiones informadas basadas en datos precisos y en tiempo real.</p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">
                  <span>03</span>
                  Robótica Innovadora
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>Desarrollamos sistemas robóticos avanzados que mejoran la eficiencia, precisión y seguridad en entornos industriales y comerciales. Estos robots pueden realizar tareas complejas, desde la manipulación de materiales hasta inspecciones automatizadas, lo que aumenta la productividad y reduce los riesgos laborales.</p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">
                  <span>04</span>
                  Prototipado e Impresión 3D de Calidad
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>Ofrecemos servicios de prototipado e impresión 3D personalizados que aceleran el desarrollo de productos. Esto permite una rápida iteración, reducción de costos y una mayor eficiencia en el diseño y la fabricación.</p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box" style='background-image: url("assets/img/nosotros.jpg");' data-aos="zoom-in">
          <!-- <a href="https://www.youtube.com/watch?v=LIqQNG_q2us" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
        </div>

      </div>

    </div>
  </section>
  <!-- End Why Us Section -->